.cards {
  padding-top: 94px;
  padding-bottom: 94px;
}
.cards__list {
  display: flex;
  gap: 30px;
}
.cards__item {
  width: 270px;
  &::before {
    content: "";
    display: block;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &:nth-child(1)::before {
    background-image: url(../imeges/uvaga-icon.svg);
  }
  &:nth-child(2)::before {
    background-image: url(../imeges/punktualnist-icon.svg);
  }
  &:nth-child(3)::before {
    background-image: url(../imeges/planuvannya-icon.svg);
  }
  &:nth-child(4)::before {
    background-image: url(../imeges/tehnologii-icon.svg);
  }
}

.cards__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.cards__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--paragraph-text-color);
  margin-top: 10px;
}
